.DS_Store
ENG_ML copy.aux
ENG_ML copy.log
ENG_ML copy.out
ENG_ML copy.pdf
ENG_ML copy.synctex.gz
ENG_ML.aux
ENG_ML.log
ENG_ML.out
ENG_ML.synctex.gz
ENG_academic.aux
ENG_academic.log
ENG_academic.out
ENG_academic.synctex.gz
RUS_ML.aux
RUS_ML.log
RUS_ML.out
RUS_ML.synctex.gz
ashikunova.pdf
ashikunova_ling_v2.pdf
ashikunova_ml_v1.pdf
ashikunova_v2.pdf
ashikunova_v3.pdf
ashikunova_v4.pdf
ashikunova_v5.pdf
images/
main-copy-copy.aux
main-copy-copy.log
main-copy-copy.out
main-copy-copy.pdf
main-copy-copy.synctex.gz
main-copy-copy.tex
main.aux
main.fls
main.log
        main.out
        main.pdf
        main.synctex.gz
        shikunova_v6.pdf
        structure.log
        structure.tex
